.Content {
    position: absolute;
    top: 58px;
    left: 20%;
    width: 80%;
}

.horizontal-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.horizontal-row * {
    margin: 10px;
}